* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 13px Work Sans, Helvetica, Arial;
}
body > div,
body > div > div,
body > div > div > div#login-form,
body > div > div > div#register-form {
  height: 100%;
}
.ui.grid.center.middle {
  margin: 0;
}
#page {
  background-color: #282869;
  height: 100%;
  padding: 100px 20px;
}
#page .brand {
  color: #fff;
}
#home > div:first-child {
  padding: 50px 0;
}
#home > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home-header {
  color: #fff;
}
#home-header i {
  margin-left: -15px;
}
#sub-header {
  font-size: 17px;
  text-align: center;
  color: #909090;
}
#home-actions {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
#home-actions .home-btns {
  text-align: center;
  width: 200px;
  border: 2px solid #e0e1e2;
}
#home-actions .signup-btn {
  background: transparent;
  color: #e0e1e2;
}

/* Login/Register From */
#login-form .ui.error.message,
#register-form .ui.error.message {
  padding: 5% 15%;
}
#login-form .ui .column,
#register-form .ui .column {
  max-width: 450px;
}

#login-form .brand,
#register-form .brand {
  padding: 25px 0;
}
#login-form .submit-btn,
#register-form .submit-btn {
  color: #fff;
  background-color: #18184a;
}

@media only screen and (max-device-width: 480px) {
  #login-form .ui .column,
  #register-form .ui .column {
    max-width: 70%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 786px) {
  #login-form .ui .column,
  #register-form .ui .column {
    max-width: 50%;
  }
}

#chat-menu,
#chat-menu.ui.menu > .item:first-child,
#chat-menu.ui.menu #user-settings-menu {
  color: #fff;
}

#chat-menu {
  /* color: white; */
  background-color: #05182c;
  border: 0;
  margin: 0;
  border-radius: 0;
}
#chat-menu.ui.menu .item:before {
  background: none;
}
#chat-menu.ui.menu .dropdown.item .menu {
  border-radius: 0;
}
#chat-menu.ui.menu #user-settings-menu .dropdown.icon {
  margin: 0 0 0 1em;
}
#chatroom .ui.menu {
  margin: 0 !important;
  border-radius: 0;
}
#chatroom .ui.menu .item > i.icon {
  margin: 0;
}
#chatroom .ui.basic.segment {
  /* height: 90vh; */
  padding: 0 0 0 13px;
}
#chatroom .ui.segment.pushable {
  margin: 0 !important;
  box-shadow: none;
  border: none;
}

#chatroom .ui.segment.pushable .pusher {
  height: calc(100vh - 99px);
}

/* Chatroom - Window */
#chat-window {
  margin-top: 5px;
  height: calc(100vh - 99px);
  /* height: inherit; */
  overflow-y: auto;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}

/* Message Input  */
#room-message-input {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 12px 10px;
}
#room-message-input input {
  border: 1px solid #a0a0a0;
}

/* Chatroom - Header */
#room-header #room-name {
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}

/* Chatroom Window */
#messages .room-message {
  padding: 5px 0;
}
#messages .room-message .room-message-content {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  word-wrap: break-word;
  max-width: 75%;
}
.room-message .room-message-username {
  color: #2c2d30;
  font-size: 16px;
  font-weight: 700;
}
.room-message .room-message-timestamp {
  color: #8f9092;
  font-size: 12px;
  font-weight: 400;
  padding-left: 7px;
}
.room-message .room-message-text {
  margin-top: 3px;
}

/* User Badge */
.user-badge {
  position: relative;
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.user-badge .user-initial {
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.ui.button.escape-chat-menu-btn {
  position: absolute;
  background: transparent;
  top: 15px;
  right: 15px;
}

/* Chatroom - Sidebar */
#chat-sidebar {
  background-color: #fafafa;
  border: 0;
}
/* Category */
#chat-sidebar.ui.vertical.menu .item > .header:not(.ui) {
  text-align: left;
  font-size: 1.5em;
  margin: 0;
  color: #656464;
}

/* Category Sub items */
#chat-sidebar.ui.vertical.menu .menu .item {
  text-align: left;
  font-size: 1em;
  color: #888888;
}

#chat-sidebar.ui.vertical.menu .menu .item i {
  margin: 1.5px 5px 0 0 !important;
}

#chat-sidebar.ui.labeled.icon.menu .item > .icon:not(.dropdown) {
  font-size: 12px !important;
  float: left;
}

#chat-sidebar .sidebar-menu-item:hover {
  background-color: #05182c;
  color: #fff;
}

#chat-sidebar .sidebar-add-chat-btn {
  padding: 2px;
  background-color: transparent;
}

#chat-sidebar .sidebar-add-chat-icon {
  /* position: absolute; */
  margin-bottom: 10px;
  top: 12px;
}

/* Create Channel */
#chat-create-channel,
#chat-add-direct-message {
  padding: 50px 50px;
}

/* Direct Message search */
#direct-message-list {
  height: 50vh;
  overflow-y: auto;
}
#direct-message-list .ununread-messages-label {
  float: none;
  cursor: pointer;
}
#chat-add-direct-message .direct-message-search-input {
  width: 100%;
}
#chat-add-direct-message .direct-message-search-input input {
  font-size: 90% !important;
}

/* 404 Page not found */
#page-not-found {
  height: 100vh;
  color: #fff;
  background: rgba(140, 193, 243, 1);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0, rgba(140, 193, 243, 1)),
    color-stop(0, rgba(0, 143, 245, 1)),
    color-stop(6%, rgba(0, 143, 245, 1)),
    color-stop(39%, rgba(0, 143, 245, 1)),
    color-stop(100%, rgba(145, 197, 242, 1))
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(140, 193, 243, 1)),
    color-stop(0, rgba(0, 143, 245, 1)),
    color-stop(6%, rgba(0, 143, 245, 1)),
    color-stop(39%, rgba(0, 143, 245, 1)),
    to(rgba(145, 197, 242, 1))
  );
  background: linear-gradient(
    to bottom,
    rgba(140, 193, 243, 1) 0,
    rgba(0, 143, 245, 1) 0,
    rgba(0, 143, 245, 1) 6%,
    rgba(0, 143, 245, 1) 39%,
    rgba(145, 197, 242, 1) 100%
  );
}

#page-not-found .content {
  padding-top: 30%;
  text-align: center;
}
#page-not-found .content .header-txt {
  font-size: 3em;
  line-height: 1.5em;
}
#page-not-found .content .body-txt {
  font-size: 1.5em;
  line-height: 1.5em;
}
