body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%;
}
#chat-window {
  height: 350px;
  overflow-y: scroll;
}
/* Chatroom - Header */
#room-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
#room-header #room-name {
  font-size: 20px;
  font-weight: 700;
}
#room-header .room-setting-icon {
  /* float:right; */
  padding-left: 25px;
}

/* Chatroom - Sidebar */
#chat-sidebar.ui.vertical.menu .header,
/* Category: Channls, Direct Messages */
#chat-sidebar.ui.vertical.menu .item>.header:not(.ui) {
  text-align: left;
  font-size: 1.5em;
}
/* Category Sub items */
#chat-sidebar.ui.vertical.menu .menu .item {
  text-align: left;
  font-size: 1em;
}
#chat-sidebar.ui.labeled.icon.menu .item > .icon:not(.dropdown) {
  font-size: 12px !important;
  float: left;
}

/* Chatroom - Window */
#messages .room-message {
  padding: 5px 0;
}
.room-message .room-message-username {
  color: #2c2d30;
  font-size: 16px;
  font-weight: 700;
}
.room-message .room-message-timestamp {
  color: #8f9092;
  font-size: 12px;
  font-weight: 400;
  padding-left: 7px;
}

/* Create Channel */
#chat-create-channel,
#chat-add-direct-message {
  padding: 100px 50px;
}

.ui.button.escape-chat-menu-btn {
  position: absolute;
  background: transparent;
  top: 75px;
  right: 50px;
}
